.info-body {
  position: absolute;
  z-index: 0;
  width: 54%;
  height: 130px;
  overflow: hidden;
  left: 390px;
  top: 160px;
}

.slide-terminal {
  animation: slide-out 1000ms linear forwards;
  animation-delay: 1000ms;
}

@keyframes slide-out {
  0% {
    width: 54%;
    height: 170px;
    overflow: hidden;
    left: 390px;
    top: 160px;
    z-index: 0;
  }

  10% {
    width: 54%;
    height: 188px;
    overflow: hidden;
    left: 390px;
    top: 160px;
    z-index: 1;
  }

  30% {
    width: 54%;
    height: 238px;
    overflow: hidden;
    left: 390px;
    top: 80px;
    z-index: 1;
  }

  100% {
    width: 75%;
    height: 400px;
    overflow: visible;
    left: 260px;
    top: 180px;
    z-index: 1;
  }
}

.display-5 {
  opacity: 0;
  height: 96px;
  overflow: hidden;
  animation: write-name 5s forwards linear;
  animation-delay: 2.2s;
}

@keyframes write-name {
  0% {
    opacity: 1;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
